* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --lightblueColor: #7aacf7;
    --blackColor: #1a1a1a;
    --textColor: #737373;
    --mediumGray: #858585;
    --lightGray: #999999;
    --veryLightGray: #eeeeee;
    --whiteColor: #ffffff;
}

html {
    font-size: 62.5%;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom right, #cce6ec 0, #3074c2 100%);
    min-height: 90.6vh;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h4 {
    font-weight: 500;
    color: var(--mediumGray)
}

h5 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--lightGray);
}

p {
    font-size: 1.6rem;
    color: var(--textColor);
}

@media(min-width: 561px) {
    .contenido {
        margin: 0 auto;
        padding: 0 1.5rem 0 10rem;
        max-width: 70rem;
        position: relative;
        z-index: 1;
    }
}

@media(min-width: 1200px) {
    .contenido {
        max-width: 1286px;
        max-height: 674px;
    }
}

section {
    margin-bottom: 1.5rem;
    background-color: var(--whiteColor);
    border-radius: 0 0 .4rem .4rem;
}

@media(min-width: 1200px) {
    section {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-50%);
        transition: all .5s ease-in-out;
    }

    section.activo {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
}

.titulo-resaltado {
    color: var(--lightblueColor);
    font-size: 2rem;
    line-height: 2.1rem;
    padding-bottom: 3rem;
    min-height: 5.1rem;
    text-transform: capitalize;
    position: relative;
}

.titulo-resaltado span {
    color: var(--blackColor);
}

.titulo-resaltado::before,
.titulo-resaltado::after {
    content: "";
    position: absolute;
}

.titulo-resaltado:before {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    top: 0;
    left: -1.2rem;
    background: linear-gradient(135deg, rgba(120, 204, 109, .15) 0, rgba(120, 204, 109, .1) 100%);
}

.titulo-resaltado:after {
    left: -3rem;
    right: 0;
    bottom: 0;
    width: auto;
    height: .2rem;
    background: radial-gradient(ellipse at left, #ddd 0, rgba(255, 255, 255, 0) 70%);
}

.cuadro {
    padding: 3rem;
}

strong {
    background-color: var(--lightblueColor);
    color: var(--whiteColor);
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin-right: .8rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0 0 0 / .5);
    border-radius: .6rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.cajas-de-contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: hidden;
    z-index: 0;
}

.cajas-de-contenido .caja {
    position: absolute;
    bottom: -32rem;
    width: 8rem;
    height: 8rem;
    border-radius: .4rem;
    background-color: rgba(255, 255, 255, .1);
    animation: rise 50s infinite;
}

.cajas-de-contenido .c-1 {
    width: 16rem;
    height: 16rem;
    left: 20%;
    animation-duration: 34s;
    animation-delay: 2s;
}

.cajas-de-contenido .c-2 {
    width: 8rem;
    height: 8rem;
    left: 25%;
    animation-duration: 34s;
    animation-delay: 4s;
}

.cajas-de-contenido .c-3 {
    width: 12rem;
    height: 12rem;
    left: 40%;
    animation-duration: 44s;
    animation-delay: 4s;
}

.cajas-de-contenido .c-4 {
    width: 24rem;
    height: 24rem;
    left: 70%;
    animation-duration: 44s;
    animation-delay: 3s;
}

@keyframes rise {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-150rem) rotate(600deg);
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

header .menu {
    box-shadow: 0 .5rem 1rem rgba(0 0 0 / 5%);
}

header .menu ul {
    display: flex;
    justify-content: center;
}

header .menu ul li {
    min-width: 20%;
    background-color: var(--whiteColor);
}

header .menu ul li a {
    padding: 1.3rem .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

header .menu ul li:not(:first-of-type) a::before {
    content: "";
    position: absolute;
    width: .2rem;
    height: 100%;
    left: 0;
    top: 0;
    background: radial-gradient(ellipse at top, #ddd 0, rgba(255, 255, 255, 0) 70%);
}

header .menu ul li a i {
    color: var(--blackColor);
    font-size: 2rem;
    line-height: 3rem;
    transition: all .3s;
}

header .menu ul li a .link {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 1.3rem;
    color: var(--blackColor);
    transition: all .3s;
}

header .menu ul li.activo a i,
header .menu ul li.activo a .link,
header .menu ul li:hover a i,
header .menu ul li:hover a .link {
    color: var(--lightblueColor);
}

@media(min-width: 561px) {
    header {
        width: 7.2rem;
        top: 2rem;
        left: auto;
        margin-left: -8.5rem;
    }

    header .menu {
        border-radius: .4rem;
    }

    header .menu ul {
        flex-direction: column;
    }

    header .menu ul li:first-of-type {
        border-radius: .4rem .4rem 0 0;
    }

    header .menu ul li:last-of-type {
        border-radius: 0 0 .4rem .4rem;
    }

    header .menu ul li:not(:first-of-type) a::before {
        width: 100%;
        height: .1rem;
        background: radial-gradient(ellipse at right, #ddd 0, rgba(255, 255, 255, 0) 70%);
    }
}

.principal {
    margin-top: 6.9rem;
    background-color: var(--whiteColor);
}

.principal .imagen-principal {
    width: 100%;
}

.principal .imagen-principal img {
    max-width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 84%, 48% 100%, 0 84%);
}

.principal .informacion-principal {
    text-align: center;
}

.principal .informacion-principal .titulo {
    text-transform: capitalize;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin: 2rem 0 1rem 0;
    color: var(--blackColor);
}

.principal .informacion-principal .detalles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal .informacion-principal .subtitulo {
    text-transform: capitalize;
    color: var(--lightblueColor);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
}

.principal .redes {
    margin-top: 1.6rem;
    text-align: center;
}

.principal .redes a {
    display: inline-block;
    margin: 0 .6rem;
}

.principal .redes a i {
    color: var(--blackColor);
    font-size: 1.6rem;
    transition: all .3s;
}

.principal .redes a:hover i {
    color: var(--lightblueColor);
}

.principal .links {
    position: relative;
    margin-top: 6rem;
    text-align: center;
    display: flex;
}

.principal .links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0) 70%);
}

.principal .links a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    height: 7rem;
    line-height: 7rem;
    color: var(--blackColor);
    position: relative;
    flex-basis: 50%;
    cursor: pointer;
    transition: all .3s;
}

.principal .links a:hover {
    color: var(--lightblueColor);
}

.principal .links a:last-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0) 70%);
}

.blink {
    color: var(--lightblueColor);
    animation: blink .5s infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

@media(min-width: 1200px) {
    .principal {
        max-width: 48rem;
        transform: scale(1, 1.1);
    }
}

.perfil-info .fila .texto {
    padding: 3rem .5rem;
}

.perfil-info .fila .texto p {
    line-height: 1.8em;
}

.perfil-info .fila ul li {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: var(--textColor);
    text-align: right;
    padding: 1.1rem 0;
}

.perfil-info .datos-personales ul li strong {
    padding: .1rem .8rem;
}

.perfil-info .datos-personales ul li:not(:last-of-type)::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .2rem;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0) 70%);
}

@media(min-width: 768px) {
    .perfil-info .fila {
        display: flex;
    }

    .perfil-info .datos-personales,
    .perfil-info .fila .texto {
        flex-basis: 50%;
        padding: 3rem 1rem;
        position: relative;
    }

    .perfil-info .fila .texto p {
        font-size: 1.5rem;
    }

    .perfil-info .datos-personales::before {
        content: "";
        position: absolute;
        top: 0;
        left: -.1rem;
        width: .2rem;
        height: 100%;
        background: radial-gradient(ellipse at top, #ddd 0, rgba(255, 255, 255, 0) 70%);
    }
}

@media(min-width: 1200px) {

    .perfil,
    .curriculum,
    .proyectos,
    .contacto {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        top: 0;
        left: 47%;
        right: 0;
        bottom: 1.5rem;
        max-width: 65rem;
        height: 100%;
        z-index: -1;
    }

    .perfil-info .fila .text {
        padding: 3rem 3rem 3rem 0;
    }

    .perfil-info .datos-personales {
        padding: 3rem;
    }
}

@media(min-width: 1234px) {

    .perfil,
    .curriculum,
    .proyectos,
    .contacto {
        left: 45%;
    }
}

.mis-servicios .servicios-contenido .servicios {
    padding: 3rem;
    text-align: center;
    position: relative;
}

.mis-servicios .servicios-contenido .servicios:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .2rem;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, .7) 0, rgba(255, 255, 255, 0) 70%);
}

.mis-servicios .servicios-contenido .servicios .icono {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--lightblueColor);
    color: var(--whiteColor);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.mis-servicios .servicios-contenido .servicios h4 {
    font-size: 1.7rem;
    color: var(--blackColor);
    margin: 1rem 0 .5rem;
}

@media(min-width: 768px) {
    .mis-servicios .servicios-contenido {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    }

    .mis-servicios .servicios-contenido .servicios:nth-child(even)::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: .2rem;
        height: 100%;
        background: radial-gradient(ellipse at left, rgba(197, 202, 213, .7) 0, rgba(255, 255, 255, 0) 70%);
    }

    .mis-servicios .servicios-contenido .servicios::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: .2rem;
        background: radial-gradient(ellipse at left, rgba(197, 202, 213, .7) 0, rgba(255, 255, 255, 0) 70%);
    }
}

.curriculum .curriculum-contenido .experiencia,
.curriculum-contenido .estudios {
    padding: 3rem 0;
}

.curriculum-contenido .experiencia .titulo,
.curriculum-contenido .estudios .titulo,
.habilidades .habilidades-izquierda .disenio .titulo,
.habilidades .habilidades-izquierda .codigos .titulo,
.habilidades .habilidades-derecha .idiomas .titulo,
.habilidades .habilidades-derecha .otros .titulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3rem;
    position: relative;
}

.curriculum-contenido .experiencia .titulo::after,
.curriculum-contenido .estudios .titulo::after,
.habilidades .habilidades-izquierda .disenio .titulo::after,
.habilidades .habilidades-izquierda .codigos .titulo::after,
.habilidades .habilidades-derecha .idiomas .titulo::after,
.habilidades .habilidades-derecha .otros .titulo::after,
.curriculum-contenido .experiencia .caja-experiencia:not(:last-child)::after,
.curriculum-contenido .estudios .caja-estudios:not(:last-child)::after,
.habilidades .habilidades-izquierda .disenio .caja-disenio:not(:last-child)::after,
.habilidades .habilidades-derecha .idiomas .idioma:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0) 70%);
}

.curriculum-contenido .experiencia .titulo i,
.curriculum-contenido .estudios .titulo i,
.habilidades .habilidades-izquierda .disenio .titulo i,
.habilidades .habilidades-izquierda .codigos .titulo i,
.habilidades .habilidades-derecha .idiomas .titulo i,
.habilidades .habilidades-derecha .otros .titulo i {
    color: var(--lightblueColor);
    font-size: 3rem;
}

.curriculum-contenido .experiencia .titulo h4,
.curriculum-contenido .estudios .titulo  h4,
.habilidades .habilidades-izquierda .disenio h4,
.habilidades .habilidades-izquierda .codigos h4,
.habilidades .habilidades-derecha .idiomas h4,
.habilidades .habilidades-derecha .otros .titulo h4 {
    font-size: 1.7rem;
    line-height: 1.4rem;
    color: var(--blackColor);
    text-transform: uppercase;
}

.curriculum-contenido .experiencia .caja-experiencia,
.curriculum-contenido .estudios .caja-estudios {
    padding: 3rem 0;
    position: relative;
}

.curriculum-contenido .experiencia .caja-experiencia span,
.curriculum-contenido .estudios .caja-estudios span {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.8rem;
    border: .1rem solid var(--lightblueColor);
    border-radius: .4rem;
    color: var(--lightblueColor);
    padding: 0 .5rem;
    margin-bottom: 1.1rem;
}

.curriculum-contenido .experiencia .caja-experiencia h4,
.curriculum-contenido .estudios .caja-estudios h4 {
    font-size: 1.7rem;
    color: var(--blackColor);
    text-transform: capitalize;
}

.curriculum-contenido .experiencia .caja-experiencia h5,
.curriculum-contenido .estudios .caja-estudios h5 {
    margin-bottom: 1.1rem;
    text-transform: capitalize;
}

.curriculum-contenido .experiencia .caja-experiencia p,
.curriculum-contenido .estudios .caja-estudios p {
    line-height: 1.8em;
}

.habilidades .habilidades-izquierda .disenio,
.habilidades .habilidades-izquierda .codigos,
.habilidades .habilidades-derecha .idiomas,
.habilidades .habilidades-derecha .otros {
    padding: 3rem 0;
}

.habilidades .habilidades-izquierda .disenio .caja-disenio {
    padding: 2rem 0;
    position: relative;
}

.habilidades .habilidades-izquierda .disenio .caja-disenio h4 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
    margin-bottom: .8rem;
    text-transform: capitalize;
}

.habilidades .habilidades-izquierda .disenio .caja-disenio .progreso {
    position: relative;
    width: 100%;
    height: .4rem;
    background-color: #d8dbe2;
}

.habilidades .habilidades-izquierda .disenio .caja-disenio .progreso span {
    background-color: var(--lightblueColor);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.habilidades .habilidades-izquierda .codigos .caja-codigos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.habilidades .habilidades-izquierda .codigos .code {
    padding: 2rem 0;
    width: 50%;
}

.habilidades .habilidades-izquierda .codigos .code .progreso {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: var(--veryLightGray);
    margin: 0 auto;
    position: relative;
}

.habilidades .habilidades-izquierda .codigos .code .progreso .porcentaje-de-progreso {
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: var(--lightblueColor);
}

.habilidades .habilidades-izquierda .codigos .code .progreso .num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--blackColor);
    background-color: var(--whiteColor);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidades .habilidades-izquierda .codigos .code h5 {
    text-align: center;
    line-height: 1.4rem;
    margin: 2rem 0 .8rem 0;
}

.habilidades .habilidades-derecha .idiomas .idioma {
    padding: 2rem 0;
    position: relative;
}

.habilidades .habilidades-derecha .idiomas .idioma h4 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
    margin-bottom: .8rem;
    text-transform: capitalize;
}

.habilidades .habilidades-derecha .idiomas .idioma ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habilidades .habilidades-derecha .idiomas .idioma ul li {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: var(--veryLightGray);
}

.habilidades .habilidades-derecha .idiomas .idioma:nth-child(2) ul li:nth-child(-n+9) {
    background-color: var(--lightblueColor);
}

.habilidades .habilidades-derecha .idiomas .idioma:nth-child(3) ul li:nth-child(-n+8) {
    background-color: var(--lightblueColor);
}

.habilidades .habilidades-derecha .idiomas .idioma:nth-child(4) ul li:nth-child(-n+7) {
    background-color: var(--lightblueColor);
}

.habilidades .habilidades-derecha .idiomas .idioma:nth-child(5) ul li:nth-child(-n+6) {
    background-color: var(--lightblueColor);
}

.habilidades .habilidades-derecha .otros .otros-contenido {
    padding-top: 1rem;
}

.habilidades .habilidades-derecha .otros .caja-otros {
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.habilidades .habilidades-derecha .otros .caja-otros i {
    color: var(--lightblueColor);
}

@media(min-width: 768px) {

    .curriculum .curriculum-contenido .fila,
    .curriculum .habilidades .fila {
        display: flex;
    }

    .curriculum .curriculum-contenido .fila .estudios,
    .curriculum .curriculum-contenido .fila .experiencia,
    .curriculum .habilidades .fila .habilidades-izquierda,
    .curriculum .habilidades .fila .habilidades-derecha {
        position: relative;
        padding-left: 3rem;
        padding-right: 3rem;
        flex-basis: 49.998%;
    }

    .curriculum .curriculum-contenido .fila .estudios::before,
    .curriculum .habilidades .fila .habilidades-derecha::before {
        content: "";
        position: absolute;
        height: 100%;
        width: .2rem;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0) 70%);
    }
}

@media(min-width: 1200px) {

    .perfil .mis-servicios,
    .curriculum .habilidades {
        padding-top: 0;
    }
}

.proyectos .mis-proyectos .caja-proyecto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(24.9rem, 100%), 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.proyectos .mis-proyectos .caja-proyecto .caja {
    box-shadow: 0 1.3rem .8rem -1rem rgba(0 0 0 / 10%);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.proyectos .mis-proyectos .caja-proyecto .caja .imagen-de-caja {
    position: relative;
    overflow: hidden;
    max-height: 15.8rem;
}

.proyectos .mis-proyectos .caja-proyecto .caja .imagen-de-caja::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background: linear-gradient(135deg, rgba(137, 205, 236, 0.5) 0, rgba(120, 204, 109, .1) 100%);
}

.proyectos .mis-proyectos .caja-proyecto .caja img {
    max-width: 100%;
    transition: all 1s ease-in-out;
}

.proyectos .mis-proyectos .caja-proyecto .caja:hover img {
    transform: scale(1.3);
}

.proyectos .mis-proyectos .caja-proyecto .caja .contenido-caja {
    padding: 2rem 1rem;
}

.proyectos .mis-proyectos .caja-proyecto .caja .contenido-caja h4 {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
    font-weight: 600;
}

.proyectos .mis-proyectos .caja-proyecto .caja .contenido-caja p {
    color: var(--blackColor);
    font-size: 1.1rem;
}

.proyectos .mis-proyectos .caja-proyecto .caja .contenido-caja p span {
    color: var(--lightblueColor);
}

.contacto .contactarme .contacto-contenido {
    margin-top: 2rem;
}

.contactarme .contacto-contenido .mapa {
    height: 24rem;
    margin-bottom: 3rem;
}

.contactarme .contacto-contenido .informacion li {
    position: relative;
    width: 100%;
    padding: 1.1rem 0;
    font-size: 1.6rem;
    text-transform: capitalize;
    text-align: right;
}

.contactarme .contacto-contenido .informacion li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    bottom: 0;
    left: 0;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0) 70%);
}

.contactarme .contacto-contenido .informacion li strong {
    padding: .1rem .8rem;
    float: left;
}

.contactarme .formulario-titulo {
    margin-top: 4rem;
}

.contactarme .formulario-contacto {
    padding: 3rem 0;
}

.contactarme .formulario-contacto form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 2rem;
}

.contactarme .formulario-contacto form .message {
    grid-column: 1/-1;
}

.contactarme .formulario-contacto form .formulario input,
.contactarme .formulario-contacto form .formulario textarea {
    display: block;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    height: 5rem;
    width: 100%;
    color: var(--lightblueColor);
    border: .2rem solid var(--veryLightGray);
    outline: none;
    transition: all .3s ease-in-out;
}

.contactarme .formulario-contacto form .formulario textarea {
    resize: none;
    padding: 1.5rem;
    height: 9.4rem
}

.contactarme .formulario-contacto form .formulario input:focus,
.contactarme .formulario-contacto form .formulario textarea:focus {
    border-color: var(--lightblueColor);
}

.contactarme .formulario-contacto form .formulario input:focus::placeholder,
.contactarme .formulario-contacto form .formulario textarea:focus::placeholder {
    color: var(--blackColor);
}

.contactarme .formulario-contacto button {
    padding: 0 3rem;
    width: 25rem;
    height: 5rem;
    border-radius: .4rem;
    margin-top: 2rem;
    background-color: var(--veryLightGray);
    line-height: 5rem;
    color: var(--blackColor);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.contactarme .formulario-contacto button span {
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    margin: 0 2rem;
}

.contactarme .formulario-contacto button span::before,
.contactarme .formulario-contacto button span::after {
    content: "";
    position: absolute;
    background-color: var(--blackColor);
    transition: all .3s ease-in-out;
}

.contactarme .formulario-contacto button span::before {
    width: 1.5rem;
    height: .2rem;
    bottom: .3rem;
    right: 0;
    left: auto;
    top: auto
}

.contactarme .formulario-contacto button span::after {
    left: auto;
    top: -.8rem;
    right: -.2rem;
    bottom: .3rem;
    width: 1rem;
    height: .2rem;
    transform: rotate(45deg);
}

.contactarme .formulario-contacto button:hover {
    color: var(--lightblueColor);
}

.contactarme .formulario-contacto button:hover span::before,
.contactarme .formulario-contacto button:hover span::after {
    background-color: var(--lightblueColor);
}
